@{
    @model PaginationInfo
}

<div class="container">
    <nav class="d-flex justify-content-between  w-100">
        <a class="btn @Model.Previous"
           id="Previous"
           asp-controller="Catalog"
           asp-action="Index"
           asp-route-page="@(Model.ActualPage - 1)"
           aria-label="Previous">
            Previous
        </a>

        <span class="btn pe-none">
            Showing @Model.ItemsPerPage of @Model.TotalItems products - Page @(Model.ActualPage + 1) - @Model.TotalPage
        </span>

        <a class="btn @Model.Next"
           id="Next"
           asp-controller="Catalog"
           asp-action="Index"
           asp-route-page="@(Model.ActualPage + 1)"
           aria-label="Next">
            Next
        </a>
    </nav>
</div>
