@{
    @model CatalogItem
}

<form asp-controller="Basket" asp-action="AddToBasket" class="card">

    <img src="@Model.PictureUri" class="card-img-top" alt="@Model.Name">

    <div class="card-body align-content-center justify-content-center text-center">
        <input class="btn btn-success   @(!User.Identity.IsAuthenticated ? "disabled" : "") w-100" type="submit" value="[ ADD TO CART ]" />
        <p class="card-text text-uppercase  py-1 m-0 ">@Model.Name</p>
        <h5 class="card-title py-1 m-0 ">@Model.Price.ToString("N2")</h5>
    </div>

    <input type="hidden" asp-for="@Model.Name"/>
    <input type="hidden" asp-for="@Model.Description" />
    <input type="hidden" asp-for="@Model.Price" />
    <input type="hidden" asp-for="@Model.PictureUri" />
    <input type="hidden" asp-for="@Model.Id"/>
</form>
