@{
    ViewData["Title"] = "Catalog";
    @model CatalogIndexViewModel
}

<section class="position-absolute top-0 start-0" style="margin-top: 49px;">

    <div class="card border-0 rounded-0">

        <img src="~/images/main_banner_custom.png" class="card-img border-0 rounded-0" alt="main_banner" height="260px" />

        <div class="card-img-overlay">

            <div class="container  align-content-center  h-100">
                <img src="~/images/main_banner_text.svg" class="" alt="main_banner_text" />
            </div>

        </div>

    </div>

</section>

<section class="position-absolute top-0 start-0   bg-success  text-white  w-100" style="margin-top: 309px">

    <div class="container">

        <form asp-controller="Catalog" asp-action="Index" method="post" class="d-flex gap-2 py-1">

            <div class="form-floating">
                <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="form-select  bg-success  text-white  fw-bold" id="floatingSelect" aria-label="Floating label select example"></select>
                <label asp-for="@Model.BrandFilterApplied" class="text-uppercase">Brands</label>
            </div>

            <div class="form-floating">
                <select asp-for="@Model.TypeFilterApplied" asp-items="@Model.Types" class="form-select  bg-success  text-white  fw-bold" id="floatingSelect" aria-label="Floating label select example"></select>
                <label asp-for="@Model.TypeFilterApplied" class="text-uppercase">Types</label>
            </div>

            <input class="btn btn-warning" type="image" src="~/images/arrow-right.svg" />

        </form>

    </div>

</section>

<section class="" style="margin-top: 326px;">

    <div class="container">
        @if (Model.CatalogItems.Count() > 0)
        {
            <partial name="_pagination" model="Model.PaginationInfo"/>

            <div class="row row-cols-1 row-cols-md-3 g-4  py-2">
                @foreach (var item in Model.CatalogItems)
                {
                    <div class="col">
                        <partial name="_product" model="item" />
                    </div>
                }
            </div>

            <partial name="_pagination" model="Model.PaginationInfo" />
        }
        else
        {
            <div class="esh-catalog-items row">
                THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
            </div>
        }
    </div>

</section>
